<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
  [ngClass]="{hidden: !(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="display: flex; align-items: center;"><mat-icon style="margin-right: 10px;" aria-hidden="false" aria-label="Example home icon">home</mat-icon>Scorp</span>
      <span class="spacer"></span>
      <a mat-list-item href="#" *ngIf="!(isHandset$ | async)">Link 1</a>
      <a mat-list-item href="#" *ngIf="!(isHandset$ | async)">Link 2</a>
      <a mat-list-item href="#" *ngIf="!(isHandset$ | async)">Link 3</a>
      <mat-form-field appearance="fill">
        <!-- <mat-label>Select a language</mat-label> -->
        <mat-select >
          <mat-option *ngFor="let lang of languages" [value]="lang.code">
            {{lang.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar>

    <!-- ng-content bizim contentimiz her zaman navigator altında olmuş olucak, yani olması gerektiği gibi -->
    <ng-content></ng-content>  
  </mat-sidenav-content>
</mat-sidenav-container>
