<div><mat-form-field appearance="fill" >
  <!-- <mat-label>Select a language</mat-label> -->
  <mat-select [(ngModel)]="selectedLang" (ngModelChange)="changeLanguage()" >
    <mat-option *ngFor="let lang of languages" [value]="lang.code">
      {{lang.name}}
    </mat-option>
  </mat-select>
</mat-form-field></div>


<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" id="title" required>
      <!-- <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" id="name" required>
      <!-- <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" id="email" required>
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" id="password" required>
      <!-- <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
  </div>
  <button mat-button type="submit" [disabled]="!form.valid" style="width: 100%;" color="primary">Login</button>
</form>