.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #673ab7;
    left: 0;
    display: flex;
    min-height: 50px;
    align-items: center;
    color: white;
    justify-content: center;
}