/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Bai Jamjuree";
    src: url("../src/assets/fonts/BaiJamjuree-Regular.ttf"); //mine
  }
html, body { height: 100%; }
body { margin: 0; font-family: "Bai Jamjuree" }

* {
    font-family: "Bai Jamjuree";
  }
